* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    display: flex;
    height: 100%;
}
.box {
    flex: 1;
    box-sizing: border-box;
}
.box01 {
    border: 10px solid red;
    height: 100%;
}
.box02 {
    border: 10px solid blue;
    height: 100vh;
}