* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    display: flex;
    height: 100%;
}
.box {
    flex: 1;
    box-sizing: border-box;
}
.box01 {
    border: 10px solid red;
    height: 100%;
}
.box01_inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box01_ele {
    margin-top: auto;
    width: 50%;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    background: red;
}
.box02 {
    border: 10px solid blue;
    height: 100vh;
}
.box02_inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.box02_ele {
    margin-top: auto;
    width: 50%;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    background: blue;
}